.panel {
  background: #fefefe;
  max-width: 1000px;
  width: 100%;
  border-radius: 10px;
}

.panel_header {
  padding: 1.5rem 2.5rem;
}

/*
.panel_header,
.panel_body {
}
*/

.panel_header {
  border-bottom: 1px solid var(--faintDark);
}

/*
@media screen and (max-width: 600px) {
  .panel {
    max-width: none;
  }
}
*/
