.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.panel {
  margin: auto;
  color: var(--darkFontColor);
}

.panel_header_content {
  display: flex;
  align-items: center;

  .title {
    margin: 0;
  }

  .search_bar {
    margin-left: auto;
    flex: 0 1 70%;
    display: flex;
    align-items: center;
    border: 1px solid var(--lessFaintDark);
    border-radius: 10px;
    padding: 12.5px;

    .search_icon {
      width: 18px;
      margin-right: 8px;
      fill: #555;
    }

    .search_input {
      outline: none;
      border: none;
      width: 100%;
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
}

.panel_body_content {
  display: flex;
}

.panel_body_filters {
  border-right: 1px solid var(--lessFaintDark);
}

.panel_body_item_listing {
  width: 100%;

  .header {
    display: flex;
    width: 100%;

    .title {
      margin: 0;
    }

    .sort_select {
      margin-left: auto;
    }
  }
}

.size_is_selected {
  background-color: #111;
  color: #fefefe;
}
